@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 5 0 150;
        --color-primary-muted: 5 0 100;
        --color-background: white;
    }

    :root[class="dark"] {
        --color-primary: 5 0 150;
        --color-primary-muted: 5 0 100;
        --color-background: 15 23 42;
    }
}
